#ownCabinet {
    float:right;
    font-family: MS Shell Dig 2;
    color:white;
}

.half-rule {
    margin-left: 0;
    text-align: left;
    width: 30%;
    color:black;
}

#dropdownMenuButton{
    background-color:transparent;
    color:white;
    border:transparent;
    font-family: MS Shell Dig 2;
    margin-right:5px;
}

.dropdown-menu{
    background-color: #1A1C22;
}

.dropdown-item{
    color: white;
}

h1 {
    width: 500px;
    text-align: left;
    font-family: MS Shell Dig 2;
    color:white;
}

h3 {
    margin-left:10px;
}

.card {
    float:left;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    float: left;
    width: calc(30%);
    border-radius: 10px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.card-header {
    background-color: #4b99ee;
    font-family: MS Shell Dig 2;
    color:white;
}



#btn1 {
    background-color: #ff9a00;
    color:white;
    font-size: small;
}

#cardButton {
    color:black;
    font-size: small;
    font-weight: bolder;
    border: 2px solid #1f2229;
}

.card-body{
    float:left;
}

.row{
    margin-top:5px;
}

#tarifs{
    margin-left:10px;
    font-weight: bolder;
}

#tryTarifsNowJumbotronFluid{
    clear:both;
    background-color: #4b99ee;
    padding-top:5px;
    /*padding-bottom:0px;*/
    /*margin-bottom:15px;*/
    height:240px;
    vertical-align: bottom;
    margin-top:-25px;
}

#headerJumbotron{
    background-color: #1A1C22;
    height: 60px;
    width: 100%;
    padding-top:5px;
    padding-bottom:0px;
    margin-bottom:0px;
}

.fixed-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}


#tryNewTarifsNow{
    width: 500px;
    text-align: left;
    font-family: MS Shell Dig 2;
    color:white;
    font-size:50px;
    float:left;
    /*margin-top:-50px;*/
    vertical-align: text-bottom;
    margin-top:55px;
    /*margin-left:-50px;*/
}

#detailsButton{
    clear:both;
    float:left;
    background-color: white;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    font-size:18px;
    font-family: MS Shell Dig 2;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
    /*margin-left:-50px;*/
}

#imageContainer{
    clear:both;
    background-image:url(phone.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right bottom;
    max-width: 700px;
    min-width: 625px;
    /*padding-top:100px;*/
    float:right;
    min-height: 200px;
    margin-top:-165px;
}

#switchWithOldNumberJumbotron{
    height:280px;
    background-color: #1f2229;
    padding-top:10px;
    padding-bottom:0px;
    margin-top:10px;
    padding-left: 0;
    max-width: 800px;
    min-width: 600px;
    /*border: 4px solid #4b99ee;*/
    box-shadow: 0px 0px 5px 2px  rgba(0,0,0,0.1);
}

#keepNumberLabel{
    width: 500px;
    text-align: left;
    font-family: MS Shell Dig 2;
    color:white;
    font-size:45px;
    float: left;
    margin-top:30px;
}

#inputPhone{
    clear:both;
    width:200px;
    float: left;
}

#keepNumberButton{
    clear:both;
    background-color: white;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    float:left;
    font-size:18px;
    font-family: MS Shell Dig 2;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:20px;
    /*border: 2px solid black;*/
}

#unlimitedCallsJumbotron{
    padding-top:10px;
    height: 140px;
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    background-image:url(globuseHalfTranpsarent.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 90%;
    background-position-y: -10px;
}

#jumbotron1 {
    padding-top:10px;
    height: 100px;
    width: calc(60%);
    float:left;
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

#jumbotron2{
    padding-top:10px;
    height: 100px;
    float:right;
    width: calc(38%);
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

#jumbotron3{
    padding-top:10px;
    max-height: 150px;
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

#jumbotron5{
    padding-top:10px;
    max-height: 150px;
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

#footer {
    background-color: #1A1C22;
    color:white;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 50px;
    vertical-align: bottom;
}

.dropdown-toggle::after {
    content: none;
}

#dropdownMenuButton:hover {
    background-color: white;
    color: black;
}


