#dropdownMenuButton{
    background-color:transparent;
    color:black;
    border:transparent;
    font-family: MS Shell Dig 2;
}

#privateOfficeJumbotron{
    /*background-color:  #1f2229;*/
    background-color:  #4b99ee;
    margin-top:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#privateOfficeLabel{
    width: 500px;
    text-align: left;
    font-family: MS Shell Dig 2;
    color:white;
    font-size:30px;
}

#ownCabinet {
    float:right;
    font-family: MS Shell Dig 2;
}


#numberLabel{
    font-family: MS Shell Dig 2;
    font-size:40px;
    color:black;
    text-align:left;
}


#firstSecondNameLabel{
    font-family: MS Shell Dig 2;
    font-size:20px;
    color:black;
    text-align:left;
    margin-left:30px;
}

#choosenTarifJumbotron {
    padding-top:5px;
    padding-bottom:5px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}


#blockNumber{
    font-family: MS Shell Dig 2;
    font-size:25px;
    font-weight:bolder;
    color:black;
    text-align:left;
}

#columnDiscriptionLabels{
    font-family: MS Shell Dig 2;
    font-size: 15px;
    float:left;
    color: #808080;
    margin-bottom:-10px;
}

#columnContentLabels{
font-family: MS Shell Dig 2;
    font-size: 18px;
    float:left;
    color: black;
    /*font-weight:bolder;*/
}


#footer {
    background-color: #1A1C22;
    color:white;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 50px;
    vertical-align: bottom;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

hr.rounded {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top:-5px;
    margin-bottom:-5px;
}

